/autom4te.cache/
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/.settings/
/.autotools
/.cproject
/.project
/src/.deps
/src/kvdb


*.o
Makefile
Makefile.in
